/envFmSec
/envFlamapyZ3
/evaluation/validation_results_valid_jsons03_Z3.csv
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
evaluation/
resources/dataset_yamls
/policies
/scripts/tools_evaluation/kyverno/ignore_batchs